.search {
    display: flex;
    margin-right: 170px;
    height: 40px;
    align-items: center;
    width: 200px;

}

.input_search {
    border: none;
    height: 40px;
    outline: none;
    font-size: 20px;

    width: 200px;
    width: 274px;
    color: white;

    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin: 0;
    padding: 0;
}

.input_submit {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding: 0;
    min-width: 40px;
    min-height: 43px;

}